/* Asterisk wildcard selector to override default styles added by browser */
* {
    padding: 0;
    margin: 0;
}

/* General style */
.header {
    min-height: 100vh;
    width: 100%;
    background-image: url("../images/447079_1280pxda.se.ne.zaboravi_ls.jpg");
    background-position: center;
    background-size: cover;
    position: relative;
}

/* Styling the navbar */
nav {
    display: flex;
    padding: 3rem 10rem;
    align-items: center;
    font-size: 150%;
    

}

#menu > li {
    list-style: none;
    position: relative;
    display: inline-flex;
    justify-content: space-between;
    padding: 0 5rem;
}
    