/* Google font styles */
@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap');


/* Asterisk wildcard selector to override default styles added by browser */
* {
    padding: 0;
    margin: 0;
}

/* General style */
.header {
    min-height: 100vh;
    width: 100%;
    background-image: url("../images/Da.se.ne.zaboravi.jpg");
    background-position: center center;
    background-size: cover;
    position: relative;
}

/* Styling the navbar */
nav {
    display: flex;
    padding: 2rem 6rem;
    align-items: center;
    font-size: 20px;


}

#menu>li {
    list-style-type: none;
    position: relative;
    display: inline-flex;
    justify-content: space-between;
    padding: 0 5rem;
    font-style: "Bree Serif", serif;

}

#menu>li a {
    color: red;
    text-decoration: none;
}

#menu > li a:hover {
    color: whitesmoke;
}

.title {
    color: red;
    position: relative;
    text-align: left;
    width: 90%;
    font-size: 25px;
    padding-top: 11rem;
    padding-left: 2rem;
    font-style: "Bree Serif", serif;
    
}


/* Media Query: laptops and  (768px and up) */
@media screen and (min-width: 768px) {
   
   nav {
        display: block;
        font-size: 30px;
    }

    .title  h1 {
        font-size: 38px;
        margin-top: 15rem;
    
    }


}
/* Large devices (laptops and desktops, 992px and up) */
@media screen and (min-width: 992px) {
    .title h1 {
        font-size: 80px;
        padding-bottom: 0.2rem;
        text-align: left;
    }


}